.form-range{
    width:50px;
    margin-left:20px;
    margin-top:5px;
}
.the-header{
    margin-top:100px;
}
.the-field{
    border-radius:5px;
    width:100%;
    height:50px;
}
.button{
    width:20%;
    margin:10px;
}
.operator{
    width:20%;
    margin:10px;
}
.reset{
    width:45%;
    
}
.result{
    width:45%;
    
}

.buttons{
    
    border-radius: 15px;
    margin-top:15px;
   

}
.delete{
    width:20%;
    margin:10px;
    font-size:20px;
    
}
.footer{
    padding-bottom:15px;
    display:flex;
    justify-content:space-around;
}
@media (min-width:765px) and (max-width:1488px){
    .button{
        margin:5px;
    }
    .operator{
        margin:5px;
    }
    
    .buttons{
      padding-left:auto;
      padding-right: auto;
    }
    
    
}
